<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Kode Barang</th>
      <th>Nama Barang</th>
      <th>Satuan Jual</th>
      <th>Harga Barang</th>
    </tr>
  </thead>
  <tbody id="daftarBarang">

  </tbody>
</table>
<!--
{"kodeBarang":"0004","namaBarang":"Beras","satuanJual":"Kg","hargaBarang":"11000"
-->
<script>
$(document).ready( function(){
  $.getJSON(urlBase+"data/barang.php",function(db){
    $("#daftarBarang tr").remove();
    $.each(db, function(i,data){
      $("#daftarBarang").append(
        "<tr>"+
        "<td>"+data.kodeBarang+"</td>"+
        "<td>"+data.namaBarang+"</td>"+
        "<td>"+data.satuanJual+"</td>"+
        "<td align='right'>"+data.hargaBarang+"</td>"+
        "</tr>"
      );
    });
  });
});
</script>
