<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th width="200">Nomor HP</th>
      <th>Nama Pelanggan</th>
    </tr>
  </thead>
  <tbody id="daftarPelanggan">

  </tbody>
</table>
<!--
{"kodeBarang":"0004","namaBarang":"Beras","satuanJual":"Kg","hargaBarang":"11000"
-->
<script>
$(document).ready( function(){
  $.getJSON(urlBase+"data/pelanggan.php",function(dp){
    $("#daftarPelanggan tr").remove();
    $.each(dp, function(i,data){
      $("#daftarPelanggan").append(
        "<tr>"+
        "<td>"+data.noHP+"</td>"+
        "<td>"+data.namaPelanggan+"</td>"+
        "</tr>"
      );
    });
  });
});
</script>
